@model Pink_Panthers_Project.Models.CourseView

@{
    ViewData["Title"] = "Index";
}

<h1>Hello, @Html.DisplayFor(Model => Model.Account.FirstName) @Html.DisplayFor(Model => Model.Account.LastName)</h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            @if (Model != null && Model.TeachingCourses != null)
            {

                <!-- Display courses for teachers -->

                @foreach (var course in Model.TeachingCourses)
                {
                    string headerColor = RandomHexColor(); // Generate a random hex color

                    <div class="col-md-3">
                        <div class="card mb-4 custom-card">
                            <div class="card-header" style="background-color: @headerColor;">@course.CourseNumber</div>
                            <div class="card-body">
                                @course.CourseName<br />
                                @course.Room<br />
                                @course.StartTime.ToString("hh:mm tt") - @course.EndTime.ToString("hh:mm tt")<br />
                                @course.Days
                            </div>
                        </div>
                    </div>
                }
            }
            else if (Model != null && Model.RegisteredCourses != null)
            {
                <!-- Display courses for students -->
                @foreach (var course in Model.RegisteredCourses)
                {
                    <div class="col-md-3">
                        <div class="card mb-4 custom-card">
                            <div class="card-header">@course.CourseNumber</div>
                            <div class="card-body">
                                @course.CourseName<br />
                                @course.Room<br />
                                @course.StartTime<br />
                                @course.Days
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>

@functions {
    Random random = new Random();

    string RandomHexColor()
    {
        return $"#{random.Next(0x1000000):X6}";
    }
}
